
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #48b379;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #48b379;
  top: 15px;
  border-radius: 50%;
}

.left {
  left: -50%;
}

.right {
  left: -50%;
}

.left::before {
}

.right::before {
}

.content {
    padding-left :10px; 
    padding-right :10px; 
    padding-top :10px; 
    padding-bottom :10px; 
    background-color :#eee9dc; 
    border-radius :10px; 
    box-shadow :0.5em .5em .5em rgba(0,0,0,.2); 
    text-align :left; 
    font-size :16px; 
    font-family :\"Noto Sans\", sans-serif; 
    /*以下是添加的样式和动画效果*/
    position:relative; 
    perspective:1000px; 
    transition:.5s ease-in-out; 
}

.content:hover{
    transform:rotateY(180deg); /*鼠标悬停时卡片翻转*/
}

.content .front, .content .back{
    position:absolute; 
    backface-visibility:hidden; /*隐藏卡片的背面*/
}

.content .front{
    z-index:2; /*正面在上面*/
}

.content .back{
    transform:rotateY(180deg); /*背面反转180度*/
}

.date {
    color :#48b379; 
    font-weight :bold; 
}
